$primaryColor: #ffffff;
$navUnactiveColor: #C0C0C0;
$secondaryColor: #ffd540;
$backgroundColor: #DFDFDF;
$linearLeft: #082142;
$linearRight: #11386B;
$lineHeight: 1.2;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


