@import '../Base/reset';
@import '../Base/base';

.container {
    height: 100vh;
    background-color: $backgroundColor;
    padding: 5rem;

    .wrapper {
        min-height: 100%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 10% 25% 55% 10%;
        grid-template-rows: 118px 60% 118px;
        grid-template-areas: 
        ". logo nav ."
        ". section main ."
        ". footer1 footer .";
        background-image: linear-gradient(to right, $linearLeft, $linearRight);
        font-family: 'Montserrat', sans-serif; 

        .logo {
            grid-area: logo;
            color: $primaryColor;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 80%;
            }
        }

        .nav {
            grid-area: nav;
            height: 100%;
            display: flex;
            justify-content: flex-end;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                li {
                    margin-left: 37px;
                }

                li a {
                    text-decoration: none;
                    color: $navUnactiveColor;
                    
                    &.active {
                        color: $primaryColor;
                    }

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }

        .main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 20px;

            .header h1 {
                color: $primaryColor;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .smalltext p {
                color: $primaryColor;
                text-align: right;
                flex-wrap: nowrap;
                font-size: 1rem;
                line-height: $lineHeight;
            }

            .download-link {
                margin-top: auto;
            }

            .download-link a {
                background: none;
                text-transform: uppercase;
                text-decoration: none;
                position: relative;
                color: $secondaryColor;
                font-size: 1.5rem;
                display: flex;

                &:after {
                    width: 0%;
                    height: 1px;
                    background: $secondaryColor;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    -webkit-transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -ms-transition: all .25s ease-in-out;
                    -o-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                } 

                &:hover:after {
                    width: 100%;
                }

                .icon {
                    font-size: 1rem;
                    align-self: center;
                    border-left: 15px solid transparent;
                }
            }
        }

        .section {
            grid-area: section;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border: 2px solid $primaryColor;
            }
        }
        
        .footer {
            grid-area: footer;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            p {
                color: $navUnactiveColor;
            }
        }

        .footer1 {
            grid-area: footer1;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;

            .icon {
                font-size: 1.5em;
                color: $primaryColor;
                text-decoration: none;   	 
                
                &:hover {
                    color: $secondaryColor;
                    -webkit-transition: 0.3s; /* WebKit */
                    -moz-transition: 0.3s; /* Mozilla */
                    -o-transition: 0.3s; /* Opera */
                    -ms-transition: 0.3s; /* Internet Explorer */
                    transition: 0.3s ease-out; /* CSS3 */
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        
        .wrapper {
            grid-template-columns: 5% 30% 60% 5%;
           
            // .nav {
            //     ul {
            //         li {
            //             margin-left: 37.5px;
            //         }
            //     }
            // }

            .main {

                .header h1 {
                    margin-bottom: 15px;
                }

                .smalltext p {
                    font-size: 0.9rem;
                }
            }

            .section {

                img {
                    height: auto;
                    object-fit: contain;
                    margin-top: 15%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {

        .wrapper {
            
            grid-template-columns: 5% 40% 50% 5%;
            
            .main {

                .smalltext p {
                    color: $primaryColor;
                    flex-wrap: nowrap;
                    font-size: 0.9rem;
                    line-height: $lineHeight;

                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0;

        .wrapper {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            grid-template-rows: 118px 1fr 118px;

            .main {

                .header h1 {
                    font-size: 2.5rem;
                }

                .smalltext p {
                    font-size: 1rem;
                }
            }

            .section {

                img {
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0;

        .wrapper {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            grid-template-columns: 5% 44% 46% 5%;
            grid-template-rows: 118px 65% 118px;

            .nav {
                grid-area: nav;
                height: 100%;
                display: grid;
    
                ul {
                    
                    li a {
                        font-size: 0.8rem;
                    }
                }
            }

            .main {

                .header h1 {
                    font-size: 1.5rem;
                }

                .smalltext p {
                    font-size: 0.9rem;
                }

                .download-link a {
                    font-size: 1.5rem;
                }
            }

            .section {

                img {
                    height: auto;
                    object-fit: contain;
                    margin-top: 35%;
                }
            }

            .footer {
                
                p {
                    font-size: 1rem;
                }
            }

            .footer1 {
    
                .icon {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0;

        .wrapper {
            display: grid;
            height: auto;
            grid-template-columns: 100%;
            grid-template-rows: 15% 30% 1fr 10% 5%;
            grid-template-areas: 
            "nav"
            "section"
            "main"
            "footer1"
            "footer";

            .logo {
                display: none;
            }
            .nav {
                grid-area: nav;
                justify-content: unset;

                ul {
                    justify-content: space-evenly;
                    
                    li {
                        margin: unset;
                    }

                    li a {
                        font-size: 1rem;
                    }
                }
            }

            .section {
                grid-area: section;
                justify-self: center;
               
                img {
                    object-fit: cover;
                    border: 2px solid $primaryColor;
                    border-radius: 50%;
                    margin: unset;
                    width: 200px;
                }
            }

            .main {
                grid-area: main;
                align-items: center;

                .header h1 {
                    font-size: 2rem;
                }

                .smalltext p {
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                }

                .download-link {
                    margin: auto 0;
                }

                .download-link a {
                    font-size: 1.5rem;
                }
            }

            .footer {
                grid-area: footer;
                justify-content: center;
            }

            .footer1 {
                grid-area: footer1;
                justify-content: space-evenly;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {

        .wrapper {
            height: 105vh;

            .nav {

                ul {

                    li a {
                        font-size: 0.9em;
                    }
                }
            }

            .main {

                .header h1 {
                    font-size: 1.5rem;
                }

                .smalltext {
                    margin: 0 5%;
                }

                .smalltext p {
                    text-align: center;
                    font-size: 0.75em;
                    width: 100%;
                }

                .download-link a {
                    font-size: 1em;
                }
            }

            .footer {
                
                p {
                    font-size: 0.75em;
                }
            }

            .footer1 {
    
                .icon {
                    font-size: 1em;
                }
            }
        }
    }
}