@import '../Base/reset';
@import '../Base/base';

.container {
    height: 100vh;
    background-color: $backgroundColor;
    padding: 5rem;

    .wrapper {
        min-height: 100%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 10% 55% 25% 10%;
        grid-template-rows: 118px 60% 118px;
        grid-template-areas: 
        ". logo nav ."
        ". main section ."
        ". footer footer1 .";
        background-image: linear-gradient(to right, $linearLeft, $linearRight);
        font-family: 'Montserrat', sans-serif; 

        .logo {
            grid-area: logo;
            color: $primaryColor;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 80%;
            }
        }

        .nav {
            grid-area: nav;
            height: 100%;
            display: grid;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                li a {
                    text-decoration: none;
                    color: $navUnactiveColor;

                    &.active {
                        color: $primaryColor;
                    }

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }

        .main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 40px;

            .header h1 {
                color: $primaryColor;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .subheader h6 {
                color: $primaryColor;
                font-size: 1.5rem;
                margin-bottom: 30px;
            }  

            .smalltext p {
                color: $primaryColor;
                flex-wrap: nowrap;
                font-size: 1rem;
                line-height: $lineHeight;
            }

            .link {
                margin-top: auto;
            }

            .link a {
                text-transform: uppercase;
                background: none;
                text-decoration: none;
                color: $secondaryColor;
                position: relative;
                font-size: 1.5rem;
                display: flex;

                &:after {
                    width: 0%;
                    height: 1px;
                    background: $secondaryColor;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    -webkit-transition: all .25s ease-in-out;
                    -moz-transition: all .25s ease-in-out;
                    -ms-transition: all .25s ease-in-out;
                    -o-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                }
                
                &:hover:after {
                    width: 100%;
                }

                .icon {
                    font-size: 1rem;
                    align-self: center;
                    border-right: 15px solid transparent;
                }
            }
        }

        .section {
            grid-area: section;
            height: 100%;

            #contactform {
                display: grid;
                grid-gap: 10px;

                label {
                    color: $primaryColor;
                    font-weight: bold;
                    font-size: 0.75rem;
                }

                input, textarea {
                    width: 100%;
                    padding: 2% 2%;
                    border: none;
                    background-color: #fff;
                    font-size: 1rem;
                    font-family: 'Montserrat', sans-serif; 
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
                
                button {
                    width: 100%;
                    background: $secondaryColor;
                    color: $linearLeft;
                    font-weight: bold;
                    text-transform: uppercase;
                    border: 3px solid $secondaryColor;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 10px 40px;
                    margin-top: 15px;
                   

                    .icon {
                        align-self: center;
                        border-left: 15px solid transparent;
                    }
    
                    &:hover {
                        cursor: pointer;
                        transform: translateY(-2px);
                    }

                    &:active {
                        transform: translateY(0)
                    }
                }
            }
        }
        
        .footer {
            grid-area: footer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            p {
                color: $navUnactiveColor;
            }
        }

        .footer1 {
            grid-area: footer1;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;

            .icon {
                font-size: 1.5em;
                color: $primaryColor;
                text-decoration: none;   	 
                
                &:hover {
                    color: $secondaryColor;
                    -webkit-transition: 0.3s; /* WebKit */
                    -moz-transition: 0.3s; /* Mozilla */
                    -o-transition: 0.3s; /* Opera */
                    -ms-transition: 0.3s; /* Internet Explorer */
                    transition: 0.3s ease-out; /* CSS3 */
                }
            } 
        }
    }
}

@media (max-width: 1200px) {
    .container {
        
        .wrapper {
            grid-template-columns: 5% 60% 30% 5%;
        }
    }
}

@media (max-width: 1000px) {
    .container {

        .wrapper {
            
            grid-template-columns: 5% 50% 40% 5%;
            
            .main {

                .smalltext p {
                    color: $primaryColor;
                    flex-wrap: nowrap;
                    font-size: 0.9rem;
                    line-height: $lineHeight;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0;

        .wrapper {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            grid-template-rows: 118px 1fr 118px;

            .main {

                .header h1 {
                    font-size: 2.5rem;
                }

                .subheader h6 {
                    font-size: 1.2rem;
                }

                .smalltext p {
                    font-size: 1rem;
                    width: 70%;
                }
            }

            .section {
                #contactform {
                    margin-top: 35px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0;

        .wrapper {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            grid-template-columns: 5% 46% 44% 5%;
            grid-template-rows: 118px 65% 118px;

            .nav {
                grid-area: nav;
                height: 100%;
                display: grid;
    
                ul {
                    
                    li a {
                        font-size: 0.8rem;
                    }
                }
            }

            .main {

                .header h1 {
                    font-size: 1.5rem;
                }

                .subheader h6 {
                    font-size: 1.2rem;
                }

                .smalltext p {
                    font-size: 0.9rem;
                    width: 80%;
                }

                .link a {
                    font-size: 1.5rem;
                }
            }

            .footer {
                
                p {
                    font-size: 1rem;
                }
            }

            .footer1 {
    
                .icon {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0;

        .wrapper {
            display: grid;
            height: auto;
            grid-template-columns: 100%;
            grid-template-rows: 15% 15% 1fr 10% 5%;
            grid-template-areas: 
            "nav"
            "main"
            "section"
            "footer1"
            "footer";

            .logo {
                display: none;
            }
            .nav {
                grid-area: nav;

                ul {
                    justify-content: space-evenly;

                    li a {
                        font-size: 1rem;
                    }
                }
            }

            .main {
                .link a {
                    display: none;
                }
            }

            .section {
                grid-area: section;
                justify-self: center;
                width: 70%;

                #contactform {

                    label {
                        font-size: 0.9rem;
                    }
                }
            }

            .main {
                grid-area: main;
                align-items: center;

                .header h1 {
                    font-size: 2rem;
                }

                .subheader, .smalltext {
                    display: none;
                }

                .link a {
                    font-size: 1.5rem;
                }
            }

            .footer {
                grid-area: footer;
                justify-content: center;
            }

            .footer1 {
                grid-area: footer1;
                justify-content: space-evenly;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {

        .wrapper {

            .nav {

                ul {

                    li a {
                        font-size: 0.9em;
                    }
                }
            }

            .main {

                .header h1 {
                    font-size: 1.5rem;
                }
            }

            .section {

                #contactform {

                    input, textarea {
                        
                        &::-webkit-input-placeholder {
                            
                            font-size: 0.75rem;
                        }
                        &::-moz-placeholder {
                        
                            font-size: 0.75rem;
                        }
                        &:-ms-input-placeholder {
                        
                            font-size: 0.75rem;
                        }
                        &::placeholder {
                        
                            font-size: 0.75rem;
                        }
                    }
                }
            }

            .footer {
                
                p {
                    font-size: 0.75em;
                }
            }

            .footer1 {
    
                .icon {
                    font-size: 1em;
                }
            }
        }
    }
}
