@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  height: 100vh;
  background-color: #DFDFDF;
  padding: 5rem;
}

.container .wrapper {
  min-height: 100%;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 55% 25% 10%;
      grid-template-columns: 10% 55% 25% 10%;
  -ms-grid-rows: 118px 60% 118px;
      grid-template-rows: 118px 60% 118px;
      grid-template-areas: ". logo nav ." ". main section ." ". footer footer1 .";
  background-image: -webkit-gradient(linear, left top, right top, from(#082142), to(#11386B));
  background-image: linear-gradient(to right, #082142, #11386B);
  font-family: 'Montserrat', sans-serif;
}

.container .wrapper .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .wrapper .logo img {
  width: 80%;
}

.container .wrapper .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.container .wrapper .nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .wrapper .nav ul li a {
  text-decoration: none;
  color: #C0C0C0;
}

.container .wrapper .nav ul li a:hover {
  color: #ffffff;
}

.container .wrapper .main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.container .wrapper .main .header h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.container .wrapper .main .subheader h6 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.container .wrapper .main .smalltext p {
  color: #ffffff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1rem;
  line-height: 1.2;
}

.container .wrapper .main .link {
  margin-top: auto;
}

.container .wrapper .main .link a {
  text-transform: uppercase;
  background: none;
  text-decoration: none;
  color: #ffd540;
  position: relative;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .wrapper .main .link a:after {
  width: 0%;
  height: 1px;
  background: #ffd540;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.container .wrapper .main .link a:hover:after {
  width: 100%;
}

.container .wrapper .main .link a .icon {
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-right: 15px solid transparent;
}

.container .wrapper .section {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: section;
  height: 100%;
}

.container .wrapper .section img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffffff;
}

.container .wrapper .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper .footer p {
  color: #C0C0C0;
}

.container .wrapper .footer1 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: footer1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .wrapper .footer1 .icon {
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}

.container .wrapper .footer1 .icon:hover {
  color: #ffd540;
  -webkit-transition: 1s;
  /* WebKit */
  /* Mozilla */
  /* Opera */
  /* Internet Explorer */
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  /* CSS3 */
}

@media (max-width: 1200px) {
  .container .wrapper {
    -ms-grid-columns: 5% 60% 30% 5%;
        grid-template-columns: 5% 60% 30% 5%;
  }
  .container .wrapper .main .header h1 {
    margin-bottom: 15px;
  }
  .container .wrapper .main .subheader h6 {
    margin-bottom: 15px;
  }
  .container .wrapper .main .smalltext p {
    font-size: 0.9rem;
  }
  .container .wrapper .section img {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 15%;
  }
}

@media (max-width: 1000px) {
  .container .wrapper {
    -ms-grid-columns: 5% 50% 40% 5%;
        grid-template-columns: 5% 50% 40% 5%;
  }
  .container .wrapper .main .smalltext p {
    color: #ffffff;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 0.9rem;
    line-height: 1.2;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0;
  }
  .container .wrapper {
    border-radius: 0;
    -ms-grid-rows: 118px 1fr 118px;
        grid-template-rows: 118px 1fr 118px;
  }
  .container .wrapper .main .header h1 {
    font-size: 2.5rem;
  }
  .container .wrapper .main .subheader h6 {
    font-size: 1.2rem;
  }
  .container .wrapper .main .smalltext p {
    font-size: 1rem;
    width: 80%;
  }
  .container .wrapper .section img {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0;
  }
  .container .wrapper {
    border-radius: 0;
    -ms-grid-columns: 5% 46% 44% 5%;
        grid-template-columns: 5% 46% 44% 5%;
    -ms-grid-rows: 118px 65% 118px;
        grid-template-rows: 118px 65% 118px;
  }
  .container .wrapper .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: nav;
    height: 100%;
    display: -ms-grid;
    display: grid;
  }
  .container .wrapper .nav ul li a {
    font-size: 0.8rem;
  }
  .container .wrapper .main .header h1 {
    font-size: 1.5rem;
  }
  .container .wrapper .main .subheader h6 {
    font-size: 1.2rem;
  }
  .container .wrapper .main .smalltext p {
    font-size: 0.9rem;
    width: 80%;
  }
  .container .wrapper .main .link a {
    font-size: 1.5rem;
  }
  .container .wrapper .section img {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 35%;
  }
  .container .wrapper .footer p {
    font-size: 1rem;
  }
  .container .wrapper .footer1 .icon {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0;
  }
  .container .wrapper {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 30% 1fr 10% 5%;
        grid-template-rows: 10% 30% 1fr 10% 5%;
        grid-template-areas: "nav" "section" "main" "footer1" "footer";
  }
  .container .wrapper .logo {
    display: none;
  }
  .container .wrapper .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  .container .wrapper .nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .wrapper .nav ul li a {
    font-size: 1rem;
  }
  .container .wrapper .section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: section;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .container .wrapper .section img {
    -o-object-fit: cover;
       object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: unset;
    width: 200px;
  }
  .container .wrapper .main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .wrapper .main .header h1 {
    font-size: 2rem;
  }
  .container .wrapper .main .subheader h6 {
    font-size: 1.5rem;
  }
  .container .wrapper .main .smalltext p {
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }
  .container .wrapper .main .link {
    margin: auto 0;
  }
  .container .wrapper .main .link a {
    font-size: 1.5rem;
  }
  .container .wrapper .footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .wrapper .footer1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 400px) {
  .container .wrapper .nav ul li a {
    font-size: 0.75em;
  }
  .container .wrapper .main .header h1 {
    font-size: 1.5rem;
  }
  .container .wrapper .main .subheader h6 {
    font-size: 1em;
  }
  .container .wrapper .main .smalltext {
    margin: 0 5%;
  }
  .container .wrapper .main .smalltext p {
    text-align: center;
    font-size: 0.75em;
    width: 100%;
  }
  .container .wrapper .main .link a {
    font-size: 1em;
  }
  .container .wrapper .section img {
    width: 175px;
  }
  .container .wrapper .footer p {
    font-size: 0.75em;
  }
  .container .wrapper .footer1 .icon {
    font-size: 1em;
  }
}
/*# sourceMappingURL=item.css.map */