@import '../Base/reset';
@import '../Base/base';
@import '../Main/browsers';


.container {
    background-color: $backgroundColor;
    padding: 5rem;

    .wrapper {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 10% 55% 25% 10%;
        grid-template-rows: 118px 1fr 118px;
        grid-template-areas: 
        ". logo nav ."
        ". main main ."
        ". footer footer .";
        background-image: linear-gradient(to right, $linearLeft, $linearRight);
        font-family: 'Montserrat', sans-serif; 

        .logo {
            grid-area: logo;
            color: $primaryColor;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 80%;
            }
        }

        .nav {
            grid-area: nav;
            height: 100%;
            display: grid;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                li a {
                    text-decoration: none;
                    color: $navUnactiveColor;

                    &.active {
                        color: $primaryColor;
                    }

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }

        .main {
            grid-area: main;
            display: grid;
            justify-items: center;
            height: inherit;
            width: inherit;
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);

            .block {
                height: 100%;
                width: 100%;
                border: 3px solid $primaryColor;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &:hover {
                    cursor: pointer;
                    border: solid $secondaryColor;
                }
            } 
        }

        .footer {
            grid-area: footer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            p {
                color: $navUnactiveColor;
            }
        }
    }
}

///////////////////////////////////////
///////////////////////////////////////
/////////////////////////////////////// 

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    @include browsers;
}

@supports (-ms-ime-align:auto) {
    @include browsers;
}

///////////////////////////////////////
///////////////////////////////////////
/////////////////////////////////////// 

@media (max-width: 1200px) {
    .container {
        
        .wrapper {
            grid-template-columns: 5% 60% 30% 5%;
        }
    }
}

@media (max-width: 1000px) {
    .container {

        .wrapper {  
            grid-template-columns: 5% 50% 40% 5%;
        }
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0;

        .wrapper {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;

            .main {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 600px) {
    .container {

        .wrapper {
            grid-template-columns: 5% 46% 44% 5%;
            grid-template-rows: 118px 1fr 59px;

            .nav {
                grid-area: nav;
                height: 100%;
                display: grid;
    
                ul {
                    
                    li a {
                        font-size: 0.8rem;
                    }
                }
            }

            .footer {
                
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .container {

        .wrapper {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 74.5px 1fr 32px;
            grid-template-areas: 
            "nav"
            "main"
            "footer";

            .logo {
                display: none;
            }

            .nav {
                grid-area: nav;

                ul {
                    justify-content: space-evenly;

                    li a {
                        font-size: 1rem;
                    }
                }
            }

            .main {
                grid-area: main;
                grid-template-columns: repeat(1, 1fr);
                margin-left: 5%; 
                margin-right: 5%; 
                align-items: center;
            }

            .footer {
                grid-area: footer;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {

        .wrapper {

            .nav {

                ul {

                    li a {
                        font-size: 0.9em;
                    }
                }
            }

            .footer {
                
                p {
                    font-size: 0.75em;
                }
            }
        }
    }
}